@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #EFF6EE;
}
.title-font {
    font-family: 'Tiro Bangla', serif;
}

.header {
    display: flex; 
    flex-direction: row;
    background-color:#273043;
    color: #EFF6EE;
    height: 80px;
    
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}
li {
    align-items: center;
    line-height: 100%;
    list-style: none;
    text-align: center;
    margin: auto;
    cursor: pointer;
    margin-right: 15px;
    
}
.logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
nav {
    width: 50%;
    display: flex;
    justify-content: end;
}
.post {
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-top: #273043 solid 1px;
    padding: 10px;
    background-color: #EFF6EE;
    gap: 1em;
    
}
.post > * {
    width: 70%;
}
.post > p {
    text-align: center;
    color: #273043;
}
.post-info > p {
    color: #273043;
}

b {
    color: #273043;
}

.add-new-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 121px 0 0 40px;
    height: max-content;
    flex: 1 1 0;
    border-radius: 5px;
    width: 60%;
}
.form {
    display: flex;
    flex-direction: column;
  
    margin: auto;
    flex-grow: none;

}
.log-in-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin-top: 50px;

}
.page-title {
    text-align: center;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.form > input {
    height: 3rem;
    margin: 10px 0;
    width: 100%;
    font-size: 1.2rem;
    background-color: #EFF6EE;
}
nav a {
    color: white;
    text-decoration: none;
}
h1 {
    color: #273043;
    font-family: 'Tiro Bangla', serif;
}
header > h1 {
    color: #6F59FF;
}
h2, h3 {
    color: #F17105;
    font-family: 'Tiro Bangla', serif;
}

.search-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.search-posts h1 {
    margin-bottom: 15px;
}
.search-posts label {
    margin: 0 10px 0 10px;
}
/* .search-posts form {
    width: 50%;

} */
.posts-container {
    display: flex;
    justify-content: center;
    
}
#posts {
    flex: 2 1 0;
}
/* .add-new-post {
    height: max-content;
    flex: 1 1 0;
    margin: 25px;
} */
.add-new-post > h1 {
    text-align:center;
}
.post-btn {
    margin: 0 auto;
    width: 100px;

}
.post > h3 {
    text-align: center;
}
.post-info {
    width: max-content;
    text-align: start;
    margin: 0 auto;
} 
.posts-component-container {
    display: flex;
    margin: 0 30px 0 30px;
}
.posts {
    margin: 0 auto;
}
.new-post-form {
    width: 70%;

}
.message {
    width: 80%;
    
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.profile > h3 {
    margin: 50px 0 20px 0;
}
.post > a, .edit-button{
    width: min-content;
    margin: 10px;
}
/* .post:last-child {
    border-bottom: lightgray solid 1px;
} */
button {
    background-color: #273043;
    color: #EFF6EE;
    border: none;
    height: 1.5rem;
    border-radius: 3px;
    width: 10em;
    margin: 0 auto;
    margin-top: 10px;
    

}
button:hover {
    background-color: #6F59FF;
    color: #EFF6EE;
    transition:0.3s;
}

input[type='checkbox'] { 
    background-color:#273043;
    height: 15px;
}
input:checked {
    background-color: green;
}
.add-new-post {
    text-align: center;
    margin-top: 20px;
}
input {
    background-color: #EFF6EE;
    border: 1px lightgray solid;
}
.home-container {
    text-align: center;
}
.home-container, .profile {
    margin-top: 20px;
}
.active {
    color: #6F59FF;
}
textarea {
    background-color: #EFF6EE;
    min-height: 3rem;
}
form > textarea {
    min-height: 5rem;
    font-size: 1.2rem;
}
.add-new-post-btn, .new-message-btn {
    margin: 0 auto;
}
.new-message {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
}
.new-message > h1 {
    text-align: center;
    margin: 20px;
}
.new-message > form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.new-message-btn {
    margin-top: 1em;
}
.new-message-post {
    width: 100%;
    border: .5px gray solid;
    border-radius: 5px;
    margin: 0 auto;
}
